<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    
    <title>{% block title %}Flaskサイト{% endblock %}</title>
</head>
<body>
    
 <!-- 共通ナビゲーションバー -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Flask勉</a>
      <div>
        <a href="{{ url_for('index') }}" class="nav-link d-inline text-light">Home</a>
        <a href="{{ url_for('about') }}" class="nav-link d-inline text-light">About</a>
      </div>
    </div>
  </nav>

  <!-- ページ固有の内容をここに挿入 -->
  <main class="container mt-4">
    {% block content %}
    {% endblock %}
  </main>

  <!-- 共通フッター -->
  <footer class="bg-light text-center py-3 mt-5 border-top">
    <small>&copy; 2025 My Flask App</small>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>