<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Test1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    
</head>
<body>
    <div class="container">
        <p class="text-danger">Hello world from flask</p>
        <a href="{{ url_for('about') }}">
            サイドバーのつもり
        </a>
        <br>
        <a href="{{ url_for('second') }}">継承テンプレートをやってみた</a>
        <br>
        <a href="{{ url_for('third') }}">その３へ</a>
        <br>
        <a href="{{ url_for('formtest') }}">フォームテスト</a>
        <br>
        <a href="{{ url_for('users') }}">ユーザー一覧</a>
        <br>
        <a href="{{ url_for('search') }}">ユーザー検索</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>